/*Bestil bord/second_section*/
#second_section .section_wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

#second_section .col {
    background-color: #2D4E3A;
    margin: 4vw;
}

/*section*/
#first_section .section_wrapper{
    margin: 30px;
}

/*Splash forside*/
#forside {
    width: 100vw;
    height: 100vw;
    background-image: url(billeder/billede_front.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
}
