#galleri img {
    width: 100%;
    grid-gap: 10px;
}

h2 {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    margin: 3vw;
}

.galleri_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12fr;
    column-gap: 2vw;
    grid-row-gap: 2vw;
    margin: 3vw;
}

@media only screen and (min-width: 600px) {
    h2 {
        text-align: center;
        font-family: 'Playfair Display', serif;
        font-size: 2rem;
        padding-top: 50px;
    }

    .galleri_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin: 5vw;
        column-gap: 2vw;
        grid-row-gap: 2vw;
    }

    .galleri_wrapper img {
        display: block;
        height: 100%;
        object-fit: cover;
    }

    .img1 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .img2 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }

    .img3 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .img4 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }

    .img5 {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .img6 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 3;
        grid-row-end: 4;
    }

    .img8 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .img12 {
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 4;
        grid-row-end: 5;
    }

    .img9 {
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .img10 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 5;
        grid-row-end: 6;
    }

    .img11 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 6;
        grid-row-end: 7;
    }

    /*
    .img7 {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 5;
    }
*/
}
