#menu_section {
    padding: 120px;
}

#kartoffel_splash img{
   width: 100vw;
    height: auto;

}

.julemenu_wrapper {
    text-align: center;
    padding-bottom: 20px;
}

.p1 {
    text-decoration: underline;
    text-decoration-color: #2D4E3A;
}

body {
    background-color: #ffffff;
}

.menukort_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 20px;
}

.col2 {
    text-align: right;
}

h2 {
    text-decoration: underline;
    text-decoration-color: #2D4E3A;
}

.container h2 {
    text-decoration: none;
    font-size: 2rem;

}

#menu_section h2 {
    text-align: center;
}

h4 {
    text-decoration: underline;
    text-decoration-color: #2D4E3A;
}


.container {
    position: relative;
    text-align: center;
}

#menu_section h3 {
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: #2D4E3A;
}

.julemenu_wrapper .col h2 {
    text-decoration: none;
}

.vin_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 30px;
}

.drikke_wrapper {
    display: grid;
    grid-template-columns: 1fr;
}

.image_wrapper {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;

}

@media only screen and (min-width: 600px) {
    .container h2 {
        text-decoration: none;
        font-size: 3rem;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .drikke_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .image_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 5vw;
        column-gap: 2vw;
        grid-row-gap: 2vw;
        object-fit: cover;
    }
}
