body {
    background-color: #F2F2F2;
}

* {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}


.section {
    font-family: 'Playfair Display', serif;
}


#kontakt .section_wrapper {
    background-color: #F2F2F2;
    font-size: 1rem;
    border-style: double;
    border-color: #2D4E3A;
    margin: 3vw;
}

.hidden {
    opacity: 0;
    transform: translateX(-100%);
}


#menuknap {
    display: inline-block;
    position: absolute;
    top: 1vw;
    left: 93vw;
    width: 10px;
    height: 10px;
}

#menu {
    list-style-type: none;
    transition: transform 0.3s;
    transform-origin: top left;
    display: flex;
    align-items: center;
}

@media only screen and (min-width: 600px) {

    .logo {
        margin-right: auto;
    }

    a:hover {
        background-color: #7fa08c;
        transition: 0.9s;
    }

    nav {
        text-transform: uppercase;
        font-family: 'Playfair Display', serif;
        list-style-type: none;
        margin: 0 auto;
        padding: 0;
        position: fixed;
        width: 100%;
        background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
        align-items: center;
    }


    a {
        /*        float: left;*/
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;

    }

    /*Kontakt information i Footer*/
    #kontakt .section_wrapper {
        background-color: #F2F2F2;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3vw;
        font-size: 1rem;
        border-style: double;
        border-color: #2D4E3A;

    }

    #kontakt h2 {
        text-decoration-line: underline;
    }

    #kontakt .section_wrapper .col {
        margin: 3vw;
    }

    #menuknap {
        display: none;
    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu a {
        display: inline-block;
    }

    ul {
        display: flex;
        gap: 1rem;
        list-style: none;
        padding: 0;
    }
}
